<!doctype html>
<html>
  <head>
    <title>Signup</title>
  </head>
  <body>
    <form method="post" action="/signup" onsubmit="return validateSignupForm()" id="signup-form">
        <label for="email">Email address:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="confirm-password">Confirm Password:</label><br>
        <input type="password" id="confirm-password" name="confirm-password"><br>
        <label for="first-name">First Name:</label><br>
        <input type="text" id="first-name" name="first-name"><br>
        <label for="last-name">Last Name:</label><br>
        <input type="text" id="last-name" name="last-name"><br>
        <input type="submit" value="Sign Up" id="signup-button">
      </form>
      <form id="errors">
        <label id="email-error"></label><br>
        <label id="password-error"></label><br>
        <label id="confirm-password-error"></label><br>
        <label id="firstname-error"></label><br>
        <label id="lastname-error"></label><br>
      </form>
      <script src="{{ url_for('static', filename='js/validate-signup.js') }}"></script>
  </body>
</html>

