<!doctype html>
<html>
  <head>
    <title>To-Do List</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>To-Do List</h1>
    <form method="post" action="{{ url_for('index') }}">
      <input type="text" name="task" placeholder="Add task">
      <input type="submit" value="Add">
    </form>
    <ul>
      {% for task in tasks_list %}
      <li {% if task.completed %}style="text-decoration: line-through"{% endif %}>{{ task.title }} <a href="{{ url_for('delete', task_id=loop.index) }}">Delete</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
